<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="BASE_URL" value="https://dev.content-service.eydx-internal.sbp.eyclienthub.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ROOTSITE_URL" value="https://rootsite-qa.ctp.ey.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="RBAC_URL" value="https://rbac-qa.ctp.ey.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="IDENTITY_URL" value="https://identity-qa.ctp.ey.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="CTP_URL" value="https://ctpqaapi.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="EYDX_URL" value="https://dev.discussion-service.eydx-internal.sbp.eyclienthub.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Content_URL" value="https://dev.content-service.eydx-internal.sbp.eyclienthub.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>